services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: disparador-backend
    restart: always
    environment:
      - SUPABASE_URL=https://owlignktsqlrqaqhzujb.supabase.co
      - SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im93bGlnbmt0c3FscnFhcWh6dWpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzMjUzMzAsImV4cCI6MjA4MzkwMTMzMH0.B9UhTYi8slAx2UWsSckys55O9VQHdkYIHyqhSeFy8Z0
      - CORS_ORIGINS=*
    ports:
      - "8001:8001"
    networks:
      - disparador-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - REACT_APP_BACKEND_URL=http://72.60.10.10
    container_name: disparador-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - disparador-network

networks:
  disparador-network:
    driver: bridge
